@media (max-width:1164px) {
    .gift-card {
        width: 70%;
    }
    .gift-text {
        margin-left: 10px;
    }
    .mid-one-t {
        width: 379px;
    }
    .mid-img {
        margin-top: 54px;
    }
    .img-mid img {
        width: 165px !important;
    }
}

@media (max-width:991px) {
    .gift-text h4 {
        font-size: 20px;
    }
    .gift-text p {
        font-size: 10px;
    }
    .gift-img img {
        width: 70%;
    }
    .gift-card {
        width: 80%;
        padding-bottom: 20px;
        padding-top: 5px;
    }
    .mid-one-t {
        width: 300px;
        margin-left: -40px;
    }
    .mt {
        margin-left: -2px;
    }
    .mid-img img {
        margin-left: -18px !important;
        margin-top: 45px !important;
        width: 115px !important;
    }
    .fft {
        width: 235px;
    }
}

@media (max-width:767px) {
    .main-text p {
        font-size: 30px;
    }
    .cnt-title h2 {
        font-size: 15px;
    }
    .column.half {
        flex: none;
    }
    .gift-img img {
        width: 60%;
    }
    .gift-card {
        width: 100%;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .gift-text h4 {
        font-size: 15px;
    }
    .gift-text p {
        font-size: 9px;
    }
    .gift-text {
        margin-left: 20px;
    }
    .map iframe {
        width: 100%;
    }
    .mid-one-t {
        width: 100%;
        margin: auto;
    }
    .mid-img img {
        margin-top: -39px !important;
        width: 115px !important;
        margin-bottom: 19px !important;
    }
    .mid-one-t {
        padding-bottom: 17px;
    }
}

@media(max-width:576px) {
    .slider-item {
        width: 100%;
        margin: auto;
    }
    .contact-form {
        width: 100%;
    }
    .s-icon {
        text-align: center;
        margin: auto !important;
    }
    .s-icon a img {
        width: 25px;
    }
    .main-text-gift h1 {
        font-size: 40px;
    }
    .gift-text {
        margin: auto !important;
        padding-bottom: 20px !important;
    }
    .gift-text h4 {
        font-size: 20px;
    }
    .gift-text p {
        font-size: 12px;
    }
    .map iframe {
        width: 100%;
        height: 100%;
    }
    .text-t h2 {
        color: #5e1211 !important;
        font-size: 22px;
    }
    .text-t p {
        font-size: 16px;
    }
    .b-main-text p,
    .barr-text h1 {
        font-size: 16px;
        border: 4px solid;
    }
}